<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko">

<div th:fragment="header">

    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="/">
                            <img src="/img/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li class="active"><a href="/">Homepage</a></li>
                                <!-- EVERYONE(GUEST, USER, ADMIN) -->
                                <li>
                                    <a class="nav-link" href="/review/list">커뮤니티</a>
                                </li>
                                <!-- ONLY USER  -->
                                <li sec:authorize="isAuthenticated() and !hasAuthority('ROLE_ADMIN')">
                                    <a class="nav-link" href="/cart">장바구니</a>
                                </li>
                                <li sec:authorize="isAuthenticated() and !hasAuthority('ROLE_ADMIN')">
                                    <a class="nav-link" href="/orders">구매이력</a>
                                </li>
                                <!-- ONLY ADMIN -->
                                <li sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                                    <a href="#">관리자 페이지 <span class="arrow_carrot-down"></span></a>
                                    <ul class="dropdown">
                                        <li sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                                            <a class="nav-link" href="/admin/item/new">상품 등록</a></li>
                                        <li sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                                            <a class="nav-link" href="/admin/items">상품 관리</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="header__right">
                        <a href="#" class="search-switch"><span class="icon_search"></span></a>
                        <!-- 로그인 되지 않았을 때만 로그인 아이콘 표시 -->
                        <a class="nav-link" th:href="@{/members/login}"
                           sec:authorize="!isAuthenticated()">
                            <span class="icon_profile"></span></a>
                        <!-- 로그인 되었을 때만 로그아웃 링크 표시 -->
                        <div class="slicknav_btn_wrapper" sec:authorize="isAuthenticated()">
                            <a href="members/loginInfo" class="slicknav_btn" aria-haspopup="true" role="button" tabindex="0">
                                <span class="icon_profile"></span>
                                <span class="slicknav_menutxt">My Page</span>
                            </a>
                            <a class="nav-link" th:href="@{/members/logout}">
                                <span class="slicknav_icon"></span>
                                <span class="slicknav_menutxt">Logout</span>
                            </a>
                        </div>
                    </a>
                </div>
            </div>
            <div id="mobile-menu-wrap">
            <div class="slicknav_menu"><a href="members/loginInfo" aria-haspopup="true" role="button" tabindex="0"
                                          class="slicknav_btn slicknav_collapsed" style="outline: none;"><span
                    class="slicknav_menutxt">MENU</span><span class="slicknav_icon"><span
                    class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span><span
                    class="slicknav_icon-bar"></span></span></a><!--마이페이지 버튼-->
                <nav class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none;">
                    <ul>
                        <li class="active"><a href="./index.html" role="menuitem">Homepage</a></li>
                        <li class="slicknav_collapsed slicknav_parent"><a href="#" role="menuitem"
                                                                          aria-haspopup="true" tabindex="-1"
                                                                          class="slicknav_item slicknav_row"
                                                                          style="outline: none;"><a
                                href="./categories.html">Categories <span class="arrow_carrot-down"></span></a>
                            <span class="slicknav_arrow">►</span></a>
                            <ul class="dropdown slicknav_hidden" role="menu" aria-hidden="true"
                                style="display: none;">
                                <li><a href="./categories.html" role="menuitem" tabindex="-1">Categories</a></li>
                                <li><a href="./anime-details.html" role="menuitem" tabindex="-1">Anime Details</a>
                                </li>
                                <li><a href="./anime-watching.html" role="menuitem" tabindex="-1">Anime Watching</a>
                                </li>
                                <li><a href="./blog-details.html" role="menuitem" tabindex="-1">Blog Details</a>
                                </li>
                                <li><a href="./signup.html" role="menuitem" tabindex="-1">Sign Up</a></li>
                                <li><a href="./login.html" role="menuitem" tabindex="-1">Login</a></li>
                            </ul>
                        </li>
                        <li><a href="./blog.html" role="menuitem">Our Blog</a></li>
                        <li><a href="#" role="menuitem">Contacts</a></li>
                    </ul>
                </nav>
            </div>
        </div>
            </div>
        </div>

    </header>

    <!-- Header End -->

</div>

</html>